.body{background-color: rosybrown;

}
.parrafo{font-family: Arial, Helvetica, sans-serif;color: blue;
text-align: center;text-shadow: 0ch;
}
.titulo{text-align: center; color: green;
}
.imagen{align-items: center;

}